
@{
    ViewBag.Title = "FileUploadWord";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>FileUploadWord</h2>

<form class="validate " action="/Home/FileUploadWord" enctype="multipart/form-data" method="post" name="WordFileUpload">
    <div class="row">
        <div class="col-md-4">

        </div>
        <div class="col-md-4">
            @using (Html.BeginForm("FileUploadWord", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <input type="file" name="postedFile" />
                <input type="submit" value="Upload" />
            }
            <hr />
            @*<div>@Html.Raw(ViewBag.WordHtml)</div>*@
        </div>
        <div class="col-md-4">
           
        </div>
    </div>
</form>

